body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#calculator{
    background-color: rgb(24, 24, 24);
    max-width: 400px;
    border-radius: 10px;
    overflow: hidden;
}


#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 25px;
    gap: 10px;
}

button{
    width: 60px;
    height: 60px;
    border-radius: 20px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    background-color: rgb(69, 69, 69);
}

button:hover{
    background-color: rgb(100, 100, 100);
}

button:active{
    background-color: rgb(232, 232, 232);
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    color: white;
    border: none;
    background-color: hsl(0, 0%, 70%);
}

.operator-btn{
    background-color: hsl(35, 100%, 50%);
}

.operator-btn:hover{
    background-color:  hsl(35, 100%, 65%);
}

.operator-btn:active{
    background-color:  hsl(35, 100%, 75%);
}